<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882581264766-50f5jbpooitgmff28seh2uqqsnp94a2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882581264766-50f5jbpooitgmff28seh2uqqsnp94a2a</string>
	<key>API_KEY</key>
	<string>AIzaSyDNYVdBhtPCvzSedgI3JxdrDHMeG7ospQc</string>
	<key>GCM_SENDER_ID</key>
	<string>882581264766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.a5.multiverse-leader-election-challenge</string>
	<key>PROJECT_ID</key>
	<string>multiverse-leader-election</string>
	<key>STORAGE_BUCKET</key>
	<string>multiverse-leader-election.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882581264766:ios:16fbe737a667176a40fb2f</string>
</dict>
</plist>